# Copyright (c) 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init
    mkdir /firmware 0771 system system
    mkdir /system 0777 root root
    symlink /data/tombstones /tombstones
    mkdir /dsp 0771 media media

on fs
    wait /dev/block/bootdevice

    mount_all fstab.qcom

    wait /dev/block/bootdevice/by-name/oem
    mount ext4 /dev/block/bootdevice/by-name/oem /oem ro nosuid nodev barrier=1
    
on post-fs-data
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system
    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/misc/hbtp 0750 system system

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

on init
   write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

# Allow usb charging to be disabled peristently
on property:persist.usb.chgdisabled=1
    write /sys/class/power_supply/battery/charging_enabled 0

on property:persist.usb.chgdisabled=0
    write /sys/class/power_supply/battery/charging_enabled 1

service qseecomd /system/bin/qseecomd
   class core
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

service thermal-engine /system/vendor/bin/thermal-engine
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   writepid /dev/cpuset/system-background/tasks

service time_daemon /system/bin/time_daemon
   class main
   user root
   group root
   writepid /dev/cpuset/system-background/tasks

service audiod /system/bin/audiod
   class late_start
   user system
   group system

on boot
    start rmt_storage

service wcnss-service /system/bin/wcnss_service
    class main
    user system
    group system wifi radio
    oneshot

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag
    writepid /dev/cpuset/system-background/tasks

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio diag diag inet log
   writepid /dev/cpuset/system-background/tasks
   disabled

service imscmservice /system/bin/imscmservice
   class main
   user system
   group radio diag inet log
   writepid /dev/cpuset/system-background/tasks
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon
    start imscmservice

service ppd /system/vendor/bin/mm-pp-dpps
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics
    disabled

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

on property:init.svc.surfaceflinger=restarting
    stop ppd

on property:init.svc.zygote=stopped
    stop ppd

on property:init.svc.zygote=running
    start ppd

on property:init.svc.zygote=restarting
    stop ppd

on charger
    wait /dev/block/bootdevice/by-name/system
    mount ext4 /dev/block/bootdevice/by-name/system /system ro barrier=1
    load_all_props
    setprop sys.usb.configfs 0
    setprop persist.sys.usb.config mass_storage
    start qcom-post-boot
    setprop persist.sys.usb.config mass_storage
    start hvdcp_opti

service adsprpcd /system/bin/adsprpcd
    class main
    user media
    group media

service hvdcp_opti /system/bin/hvdcp_opti
   class main
   user root
   group root

on property:init.svc.dts_configurator=stopped
    start dtseagleservice

service per_mgr /system/bin/pm-service
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system
    writepid /dev/cpuset/system-background/tasks
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service energy-awareness /system/bin/energy-awareness
    class main
    user root
    group system
    oneshot

on boot
	write /dev/cpuset/top-app/cpus 0-7
	write /dev/cpuset/top-app/boost/cpus 4-7
	write /dev/cpuset/foreground/cpus 0-6
	write /dev/cpuset/foreground/boost/cpus 0-6
	write /dev/cpuset/background/cpus 0-1
	write /dev/cpuset/system-background/cpus 0-3

	# add a cpuset for the camera daemon
	# we want all cores for camera
	mkdir /dev/cpuset/camera-daemon
	write /dev/cpuset/camera-daemon/cpus 0-3
	write /dev/cpuset/camera-daemon/mems 0
	chown system system /dev/cpuset/camera-daemon
	chown system system /dev/cpuset/camera-daemon/tasks
	chmod 0664 /dev/cpuset/camera-daemon/tasks

